---
# Test Promote to Quay Workflow
# Promotes compass image from GHCR to Quay.io
#
# To update: change source_tag on line 33 after a successful build

name: Test Promote to Quay

on:
  push:
    branches:
      - feat/secure-image-publish
    paths:
      - '.github/workflows/promote-to-quay-local.yml'

permissions:
  packages: none
  id-token: none

concurrency:
  group: promote-to-quay-${{ github.ref }}
  cancel-in-progress: false

jobs:
  promote-compass:
    permissions:
      packages: read
    uses: sonupreetam/org-infra-tests/.github/workflows/reusable_promote.yml@main
    with:
      source_registry: ghcr.io
      source_image: sonupreetam/test-compass
      source_tag: sha-${{ inputs.source_sha || github.sha }}
      dest_registry: quay.io
      dest_image: test_complytime/test-compass
      dest_tag: ${{ github.ref_name }}
      create_semver_tags: false
      verify_source_signature: false
      allowed_identity_regex: https://github.com/sonupreetam/org-infra-tests(/.*)?
    secrets:
      dest_username: ${{ secrets.QUAY_USERNAME }}
      dest_password: ${{ secrets.QUAY_PASSWORD }}

  sign-compass:
    needs: promote-compass
    permissions:
      packages: write
      id-token: write
    uses: sonupreetam/org-infra-tests/.github/workflows/reusable_sign_and_verify.yml@main
    with:
      image_name: quay.io/test_complytime/test-compass
      digest: ${{ needs.promote-compass.outputs.digest }}
      allowed_identity_regex: https://github.com/sonupreetam/org-infra-tests(/.*)?
      verify_attestations: false  # Promoted images don't have SLSA/SBOM attestations
    secrets:
      quay_username: ${{ secrets.QUAY_USERNAME }}
      quay_password: ${{ secrets.QUAY_PASSWORD }}
